th{
  text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border: 1px solid #fff;
  }

.subbox {
    background-color: rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 300px;
    padding: 5px;
    border: 1px solid #fff;
    vertical-align: top;
}

.on{
    background-color: white;
    color: black;
    font-size: 10px;
    position: absolute;
    border-radius: 3px;
    padding: 2px;
  }

.task{
    background-color: whitesmoke;
    border-radius: 10px;
    color: black;
    margin: 5px;
  }

.icon{
width: 50px;
height: 50px;
}

.dustbox{
text-align: center;
background-color: gray;
}

.history{
border: 1px solid black;
padding-right: 5px;
}